/*Colores de background*/
.fondo-color-1{
background-color: #222831 ;
}
.fondo-color-2{
    background-color: #31363F;
}
.fondo-color-3{
    background-color: #76ABAE;
}
.fondo-color-4{
    background-color: #EEEEEE;
}

/*centrar*/
.centrar-texto{
    text-align: center;
}

/*margen*/
.distancia-derecha{
    margin-right: 80%;
}
.distancia-izquierda{
    margin-left: -70%;
}

/*paddings*/
.padding{
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside{
    flex: 1;
}

main{
    flex: 2;
}

nav ul{
    list-style: none; /*quitar puntos*/
    display: flex;
    flex-direction: row; /*como ver la lista*/
    justify-content: space-around;
    background-color: #76ABAE;
    border-radius: .3rem;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: center;
}
nav ul li:hover{
    cursor: pointer;
    background-color: aquamarine;
    transition: .3s ease-in;
}
